
<div class="breadcrumb">
    <h1>Asset Management</h1>
    <ul>
        <li><a href="">Dashboard</a></li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>



<div ng-if="showlist==true">

    <div style="text-align:right" class="col-md-4">
        <select ng-model="projectid" data-ng-change="getAssetsByProjectID(projectid)" style="margin-bottom:10px;" class="form-control">
            <option selected value="0">- Select Project -</option>
            <option ng-repeat="pr in ListOfProjects" value="{{pr.projectID}}" ng-selected="pr.projectID == projectID">{{pr.name}}</option>
        </select>
    </div>


    <button data-ng-click="addnewasset()" type="button" class="btn btn-success m-1"> <i class="fa fa-plus"></i> Add Asset</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                  Name
                </th>
                <th>
                  Contact
                </th>
                <th>
                   Address
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tr ng-repeat="obj in ListOfAssets">
            <td>
                {{obj.name}}
            </td>

            <td>
                {{obj.contact}}
            </td>

            <td>
                {{obj.address}}
            </td>

            <td>
                <button ng-click="openEditModal(obj)"  type="button" class="btn btn-primary btn-sm m-1"><i class="fa fa-pencil"></i> Edit</button>
                <button ng-click="deleteAsset(obj.assetID)" type="button" class="btn btn-danger btn-sm m-1"><i class="fa fa-trash-o"></i> Delete</button>

            </td>


        </tr>
    </table>
</div>


<div ng-if="showlist==false">

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" data-ng-model="Asset.name" required autofocus>
    </div>

    <div class="form-group">
        <label>Contact</label>
        <input type="text" class="form-control" placeholder="Contact" data-ng-model="Asset.contact" required>
    </div>
    
    <div class="form-group">
        <label>Project Name</label>

        <select ng-model="Asset.projectID" class="form-control">
            <option selected value="">- Select Project -</option>
            <option ng-repeat="pr in ListOfProjects" value="{{pr.ProjectID}}" ng-selected="pr.projectID == projectID">{{pr.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" placeholder="Address" data-ng-model="Asset.address" required>
    </div>


    <form class="form-login" role="form">

        <button ng-if="isEditing == false" class="btn btn-primary m-1" type="submit" data-ng-click="saveAsset()">Save</button>
        <button ng-if="isEditing == true" class="btn btn-primary m-1" type="submit" data-ng-click="updateAsset()">Update</button>
        <button data-ng-click="showlistofassets()" type="button" class="btn btn-dark m-1"><i class="fa fa-times"></i> Cancel</button>

    </form>
</div>