



<form class="form-login" role="form">
    <h2 class="form-login-heading">Create Asset</h2>
    <input type="text" class="form-control" placeholder="Name" data-ng-model="Asset.Name" required autofocus>
    <input type="text" class="form-control" placeholder="Contact" data-ng-model="Asset.Contact" required>
    <input type="text" class="form-control" placeholder="Address" data-ng-model="Asset.Address" required>
    <input type="text" class="form-control" placeholder="Business" data-ng-model="Asset.Business" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="addAsset()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>
