

<div class="breadcrumb">
    <h1>Category Management</h1>
    <ul>
        <li><a>Dashboard</a></li>
      
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" data-ng-model="Category.Name" required autofocus>
</div>

<div class="form-group">
    <label>Contact</label>
    <input type="text" class="form-control" placeholder="Contact" data-ng-model="Category.Contact" required autofocus>
</div>

<button class="btn btn-primary m-1" type="submit" data-ng-click="addCategory()">Save</button>


