

<div class="breadcrumb">
    <h1>Expense Management</h1>
    <ul>
        <li><a href="">Dashboard</a></li>
      
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>



    <div class="row">
        

        <div class="col-md-6">
            <div class="form-group">
                <label>Project Name</label>

                <select ng-model="Expense.ProjectID" class="form-control">
                    <option selected value="">- Select Project -</option>
                    <option ng-repeat="pr in projects" value="{{pr.ProjectID}}">{{pr.Name}}</option>
                </select>


            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control" placeholder="Amount" data-ng-model="Expense.Amount" required>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Refrence</label>
                <input type="text" class="form-control" placeholder="Refrence" data-ng-model="Expense.Refrence" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>ReceiptPath</label>
                <input type="text" class="form-control" placeholder="ReceiptPath" data-ng-model="Expense.ReceiptPath" required>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Contact</label>
                <input type="text" class="form-control" placeholder="Contact" data-ng-model="Expense.Contact" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>IsApproved</label>
                <input type="text" class="form-control" placeholder="IsApproved" data-ng-model="Expense.IsApproved" required>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>select Asset</label>

                <select class="form-control" data-ng-model="Expense.AssetID">
                    <option selected value="">- Select Asset -</option>
                    <option data-ng-repeat="as in assets" value="{{as.AssetID}}">{{as.Name}}</option>
                </select>

              
            </div>
            <div class="form-group">
                <label> Select Category</label>

                <select class="form-control" data-ng-model="Expense.CategoryID">
                    <option selected value="">- Select Category -</option>
                    <option data-ng-repeat="cat in categories" value="{{cat.CategoryID}}">{{cat.Name}}</option>
                </select>

            
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Description" data-ng-model="Expense.Description" required>
            </div>
            
        </div>
        <div class="col-md-6">
            <label>Receipt</label>
            <form action="#" class="dropzone" id="single-file-upload">
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
            </form>
        </div>
    </div>
    
    <button class="btn btn-primary m-1" type="submit" data-ng-click="addExpense()">Save</button>
<button  type="button" class="btn btn-dark m-1"><i class="fa fa-times"></i> Cancel</button>
  

