



<form class="form-login" role="form">
    <h2 class="form-login-heading">Create Project</h2>
    <input type="text" class="form-control" placeholder="Name" data-ng-model="project.Name" required autofocus>
    <input type="text" class="form-control" placeholder="Billing Method" data-ng-model="project.BillingMethod" required>
    <input type="text" class="form-control" placeholder="Customer Name" data-ng-model="project.CustomerName" required>
    <input type="text" class="form-control" placeholder="Total Cost" data-ng-model="project.TotalCost" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="addProject()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>
